@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@import url("https://fonts.googleapis.com/css?family=Sansita");

$font-main: 'Nunito Sans', sans-serif;
$font-sec: 'Sansita', sans-serif;

$blue-one: #004DFF;
$blue-two: #3971F5;
$blue-three: #7AA2FF;
$yel-one: #FCB100;
$yel-two: #FBF2DD;
